/* work sans font */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

/* shared styles */

.text-color-gray {
  color: #727272;
}

.btn-primary {
  padding: 12px 30px;
  background-color: #ff900e;
  color: #fff;
  font-size: 18px;
  border: 0;
  border-radius: 8px;
  font-weight: 600;
}

/* header design */

header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 100px;
}

nav h1 {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
}
nav > ul {
  display: flex;
}
nav > ul li {
  list-style-type: none;
  margin-right: 30px;
}

nav > ul li a {
  font-size: 18px;
  text-decoration: none;
  color: #424242;
  font-weight: 500;
}

/* banner styles */
.banner {
  text-align: center;
}
.banner-text {
  max-width: 800px;
  text-align: center;
  margin: 40px auto;
}

.banner-text h1 {
  font-size: 3.5rem;
  color: #131313;
  font-weight: 700;
}

.banner-text p {
  margin-bottom: 30px;
}

.banner img {
  width: 95%;
  max-width: 1200px;
}
main {
  /* width: 95%; */
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 100px;
}

.team-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.team-img img {
  width: 250px;
  height: 250px;
}
.team-features {
  display: flex;
  gap: 50px;
  margin-bottom: 100px;
  align-items: center;
}

.team-text h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.team-text p {
  margin-bottom: 1rem;
}

.hightlight-quick {
  color: #727272;
  font-weight: 500;
}

.heightlight-our {
  color: #131313;
  font-weight: 700;
}
.hightlight-feature {
  color: #ff900e;
  font-weight: 700;
}

/* feature-experience style */
.feature-experience {
  display: flex;
  gap: 80px;
}
.feature-experience-content {
  width: 40%;
}
.feature-experience-img {
  width: 60%;
}
.feature-experience-img img {
  width: 100%;
}
.feature-experience-content h1 {
  color: #131313;
  font-weight: 700;
  border-left: 5px solid #ff900e;
  padding-left: 10px;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.feature-experience-content p {
  margin-bottom: 40px;
}
.feature-box {
  margin-bottom: 20px;
  border-radius: 8px;
  padding: 20px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
}
.feature-box h3 {
  color: #131313;
  margin-bottom: 10px;
  font-size: 1.3rem;
  font-weight: 600;
}
.feature-box p {
  color: #727272;
  margin-bottom: 0;
}
.experience {
  border-radius: 8px;
  background: #ff900e;
  width: 250px;
  height: 150px;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  justify-content: center;
  bottom: 70px;
  right: 40px;
  position: relative;
}
.experience h1 {
  text-align: center;
  font-size: 3rem;
  color: #fff;
}
.experience p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
}

/* ------------------------- */
/* ----------------------------- */

/* ----------------------------------- */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  nav {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
  .banner-text h1 {
    font-size: 2.5rem;
  }
  .team-features {
    flex-direction: column-reverse;
  }
  main {
    padding: 20px;
  }
  .team-text h1 {
    font-size: 2rem;
  }
  .team-img img {
    width: 100%;
    height: auto;
  }
  .feature-experience {
    flex-direction: column;
  }
  .feature-experience-content,
  .feature-experience-img {
    width: 100%;
  }
  .feature-box {
    width: 100%;
  }
  .experience {
    left: 0;
  }
}

@media screen and (min-width: 576px) and (max-width: 960px) {
  header {
    padding: 20px;
  }
  nav {
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }
  nav > ul {
    justify-content: center;
  }
  .team-features {
    flex-direction: column-reverse;
  }
  main {
    padding: 30px;
  }
  .feature-experience {
    flex-direction: column;
  }
  .experience {
    left: 0;
  }
  .feature-experience-content,
  .feature-experience-img {
    width: 100%;
  }
}
